*{margin:0;padding: 0;box-sizing: border-box;}
body, button, input, select, textarea { font:16px helvetica,arial,sans-serif; }
a{color: inherit; text-decoration:none; } 
ul, ol { list-style:none; } 
input:focus,textarea:focus { outline:none; }
img{display: inline;vertical-align:middle;}
body{background: #fff;}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(255,255,255), rgb(230,230,230));
}

#keyboard .row:after{
	content:" "; 
	display:block; 
	height:0;
	clear:both;
}

#keyboard .row:nth-child(2){
	padding-left: 36px;
}

#keyboard .row:nth-child(3){
	padding-left: 119px;
}

#keyboard .row .key{
	display: block;
	width: 71px;
    height: 69px;
    border-radius: 8px;
    line-height: 69px;
    float: left;
    position: relative;
    margin: 0 12px 12px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#keyboard .row .key.active,
#keyboard .row .key:active{
    top: 2px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}

#keyboard .row .key button{
    position: absolute;
    font-size: 12px;
    background-color: #00CC66;
    border: none;
    color: #eee;
    outline: none;
    cursor: pointer;
    padding:1px 3px;
    border-radius: 5px;
    left: 2px;
    top: 2px;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
}

#keyboard .row .key:hover button{
    opacity: 1;
    visibility: visible;
}


#keyboard .row .key button:hover{
    background-color: #009933;
}

#keyboard .row .key .img-box{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    line-height: 0;
    border-radius: 50%;
    overflow: hidden;
}

#keyboard .row .key .img-box img{
    max-width: 100%;
    max-height: 100%;
}

#search{
    display: flex;
    width: 100%;
    height: 160px;
    justify-content: center;
    align-items: flex-start;
    margin-top: -10vh;
}

#search .search-input-out{
    position: relative;
    overflow: visible;
    width: 500px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: white;
    transition: 0.3s
}

#search .search-input-out.active{
    border-color: #00ce6d;
}

#search .search-input-out #search-input{
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 11px 20px 11px 74px;
    padding-right: 20px;
    color: #999;
    border: none;
    border-radius: 3px;
    outline: 0;
}

#search .search-input-out .search-button{
    position: absolute;
    top: 0;
    right: -2px;
    width: 60px;
    height: 100%;
    cursor: pointer;
    transition: all ease .4s;
    border: none;
    border-radius: 0 3px 3px 0;
    outline: 0;
    background-color: #00ce6d;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

#search .search-input-out .search-choice{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 60px;
    height: 100%;
    cursor: pointer;
    border-radius: 3px 0 0 3px;
    align-items: center;
    justify-content: center;
}

#search .search-input-out .search-choice:hover{
    background-color: #f3f3f3;
}

#search .search-input-out .search-choice img{
    height: 28px;
    margin-left: -10px;
}

#search .search-input-out .search-choice:after{
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    left: 45px;
    margin-top: -2px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #ccc;
}

#search .search-input-out .search-select-box{
    position: fixed;
    z-index: 500;
    display: flex;
    overflow: hidden;
    width: 500px;
    height: auto;
    margin-top: 20px;
    border-radius: 3px;
    background-color: #fff;
    flex-wrap: wrap;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: 0.3s all;
}

#search .search-input-out .search-select-box.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0)
}

#search .search-input-out .search-select-box .search-item{
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc((100% / 5));
    height: 120px;
    cursor: pointer;
    transition: all ease .2s;
    box-shadow: 0 1px 0 #f3f3f3, -1px 0 0 #f3f3f3;
    align-items: center;
    justify-content: center;
    transition:0.3s;
}

#search .search-input-out .search-select-box .search-item:hover{
    background-color: #f3f3f3;
}

#search .search-input-out .search-select-box .search-item img{
    height: 40px;
    margin-bottom: 10px;
}

#search .search-input-out .search-select-box .search-item .search-item-name{
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    color: #999;
}

#search .search-input-out .search-cover{
    position: fixed;
    z-index: 130;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}

#search .search-input-out .search-cover.active{
    display: block;
}

#footer{
    position: absolute;
    width: 100%;
    color: #999;
    text-align: center;
    line-height: 3em;
    left: 0;
    bottom: 0;
}

#footer a{
    color: #999;
}